<link id="fa-stylesheet" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.0.0/css/all.min.css">

<footer class="site-footer h-card" style="background-color: #bb3838;">
  <data class="u-url" value="{{ '/' | relative_url }}"></data>

  <div class="wrapper">

    <div style="text-align: center; width: 100%;">
        <img src="{{ '/images/android-chrome-192x192.png' | relative_url }}" 
        alt="{{ entry.title }}" width="100" height="100" style="vertical-align: middle;">
    </div>

    <div class="social-links">
        {%- include social.html -%}
    </div>
    
    <p style="width: 100%; text-align: center; color: white">
        © 2026 by NU Theme Park Engineering Club. All Rights Reserved.
    </p>

  </div>

</footer>